@use './partials/font';

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    font-family: 'Quicksand';
    background-color: rgb(246, 247, 210);
}

a {
    text-decoration: none;
    color: black;
}