.main {
    text-align: center;

    &__container {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }

    &__image-container {
        width: 40%;
    }

    &__image {
        width: 400px;

        &:hover {
            cursor: pointer;
        }
    }

    &__ingredients {
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__recipes {
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__placeholder {
        font-size: 2rem;
    }
}

.ingredient {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.1rem solid black;
    border-radius: 4px;
    margin-bottom: 1rem;
    padding: 0.5rem 0;
    transition: 0.5s;
    position: relative;
    z-index: 1;
    background-color: rgb(241, 221, 165);
    text-align: center;
    height: 90%;

    &:hover {
        position: relative;
        z-index: 2;
        transform: scale(1.5, 1.5);
        background-color: rgb(240, 197, 81);
    }

    &__image {
        width: 8rem;
        aspect-ratio: 1;
        object-fit: cover;
    }
}